@CHARSET "UTF-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#container {
    width: 1900px;
    height: 700px;
    overflow: hidden;
    position: relative;
}

#list {
    width: 100000px;
    height: 700px;
    position: absolute;
    z-index: 1;
}

#list img {
    float: left;
    width: 1900px;
    height: 700px;
}

#buttons {
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    right: 250px;
}

#buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background: #E98352;
}

#buttons .on {
    background: #474550;
}

.arrow {
    display: none;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 100px;
    width: 70px;
    height: 60px;
    position: absolute;
    z-index: 2;
    top: 250px;
    color: slategrey;
}

#container:hover .arrow {
    display: block;
}

#pre {
    left: 20px;
}

#next {
    right: 20px;
}
