@charset "gb2312";
/* CSS Document */
.title_1 {
    text-align: center;
    width: 50px;
}

.title_2 {
    text-align: center;
}

.title_3 {
    text-align: center;
    width: 100px;
}

.title_4 {
    text-align: center;
    width: 80px;
}

.title_5 {
    text-align: center;
    width: 60px;
}

.line {
    background-color: #a7cbff;
    height: 3px;
}

.num_input {
    border: solid 1px #666;
    width: 25px;
    height: 15px;
    text-align: center;
}

.cart_td_2 {
    width: 10%;
}

.cart_td_1, .cart_td_2, .cart_td_3, .cart_td_4, .cart_td_5, .cart_td_6 {
    background-color: #e2f2ff;
    border-bottom: solid 1px #d1ecff;
    border-top: solid 1px #d1ecff;
    text-align: left;
    padding: 5px;
}

.cart_td_1, .cart_td_3, .cart_td_4, .cart_td_5, .cart_td_6 {
    border-right: solid 1px #FFF;
}

.cart_td_3 {
    text-align: left;
}

.cart_td_4 {
    font-weight: bold;
}

.shopend {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}